<div class="container">
  <br>
  <img class="img-responsive" src="https://i.imgur.com/JZWY2nR.png" style="max-width:20%;"><br><br>
  <a href="/" class="btn btn-secondary">Home</a>
  <a href="/blog" class="btn btn-secondary">Blogs</a>
  {{#each blog}}
    <div class="card mt-4">
      <div class="card-body">
        <a href="/blog/{{this.name}}">
          <h4 class="card-title mb-2">{{ this.name }}</h4>
        </a>
        <div class="card-subtitle text-muted mb-2">{{ this.date }}</div>
        <div class="card-text mb-2">{{ this.content }}</div>
      </div>
    </div>
  {{/each}}
</div>